<p id="welcome">
  <div id="home-gravatar">
    <img src=<%= @image_src %> />
  </div>
  <div id="home-about">
    <p class="first">
      Hi, I'm Hann. I am passionate learning new things and solving problems. I have a strong eye for neatness and optimization. I love that slight nervousness before diving into something I'm unfamiliar with; the shift of nervousness to excitement; then the deep satisfaction once I've devised and optimized a solution.
    </p>
    <p>
      I have always loved art and making things. I studied traditional darkroom photography in college and worked in custom carpentry for a number of years. I still make sawdust in my workshop (sculptures and custom furniture, too).
    </p>
    <p>
      Right now I lead a team of software developers at Rackspace Hosting LLC. We work on <a rel="noopener" target="_blank" href="https://mycloud.rackspace.com">MyCloud</a>, a customer facing UI designed to expose Rackspace products via internal RESTful APIs. My team is responsible for collaborating with multiple teams across the company to design and implement new features as new products and offerings become available within the Rackspace ecosystem. In addition to working to expose Rackspace's internal offerings, we work hard to improve the user experience, for both customers and developers, through internal features the team designs and builds.
    </p>
  </div>
</p>
