<div id="resume">
  <div class="content">
    <div class="block" id="contact-info">
      <div class="section-header">
        <p class="name">Hannah Winter</p>
        <p class="title">software developer</p>
      </div>
      <div class="section-item">
        <p>Location: Richmond, VA</p>
        <p>Phone number: 804-350-5452</p>
        <p>Email address: hstwinter@gmail.com</p>
      </div>
    </div>
    <div class="block" id="overview">
      <div class="marked-text-block-black">
        <p>
          I love learning new things and solving problems. I find pairing and group problem solving incredibly engaging. I work hard to create and contribute to a positive, healthy team environment focusing on feedback and collaboration.
        </p>
        <p>
          I am passionate about designing and optimizing solutions to account for the complexities of the multiple systems that inevitably feed into and affect a product. I feel great when I am able to hide these complexities from the end user and provide a clean, intuitive experience.
        </p>
      </div>
    </div>
    <div class="block" id="employment">
      <div class="section-header">
        Employment
      </div>
      <div class="section-item">
        <hr>
        <div class="item-header">
          <p class="main">
            Senior front end software developer (SD 1 - SD 3), January 2014 - present
          </p>
          <p class="secondary">
            Rackspace Hosting LLC
          </p>
        </div>
        <hr>
        <div class="item-content">
          <ul>
            <li>
              contributed to building and maintaining MyCloud, a customer facing UI designed to expose Rackspace offerings via both internal and open source RESTful APIs, including migrating Google Closure components to React to optimize data loading and rendering
            </li>
            <li>
              collaborated to establish norms and enforce standards of quality and maintainability within numerous projects across the Rackspace ecosystem, in addition to working with numerous interns and contractors in education and on-boarding efforts
            </li>
            <li>
              collaborated with teams across the company to design and implement new features as products and offerings became available
            </li>
            <li>
              improved acceptance test runtime by up to 50% per suite, in addition to improving overall test stability through multiple refactoring efforts
            </li>
            <li>
              increased node responsiveness by approximately 25% through rewriting deployment scripts
            </li>
            <li>
              planned and orchestrated a number of psychological safety initiatives and team building events
            </li>
            <li>
              enabled consolidation of customer data across multiple internal products and tools by creating a new deployment environment, configured and maintained through Chef and Jenkins
            </li>
            <li>
              improved feature accessibility for server tagging and reduced our infrastructure requirements through managing a data migration effort involving migrating tag data from an internal database to a publicly accessible API with no reported data loss
            </li>
            <li>
              contributed to a number of projects across the organization in an Agile development environment in multiple efforts to standardize processes and tooling, designing and exposing flexible and reusable component libraries, standardized navigation tooling, and a shared customer management interface
            </li>
          </ul>
        </div>
      </div>
      <div class="section-item">
        <hr>
        <div class="item-header">
          <p class="main">
            Carpenter, July 2005 - February 2013
          </p>
          <p class="secondary">
            Self-employed independent contractor
          </p>
        </div>
        <hr>
        <div class="item-content">
          <p>
            I have extensive experience in residential and commercial remodels and additions. While I am proficient in many areas of building, my passion lies in detailed trim carpentry and custom built furniture.
          </p>
        </div>
      </div>
    </div>
    <div class="block" id="skills">
      <div class="section-header">
        Skills
      </div>
      <div class="marked-text-block-white">
        <p>
          Workflow tools: Jira, Git
        </p>
        <p>
          Advanced: Javascript, React, Google Closure, Ruby
        </p>
        <p>
          Intermediate: Python, HTML, CSS, Ruby on Rails, Docker, Chef
        </p>
      </div>
    </div>
    <div class="block" id="education">
      <div class="section-header">
        Education
      </div>
      <div class="section-item">
        <hr>
        <div class="item-header">
          <p class="main">
            Dev Bootcamp (DBC), San Francisco, CA, 2013
          </p>
        </div>
        <hr>
        <div class="item-content">
          <p>
            DBC is a three month intensive course on web development. The topics studied there include basic algorithms, jQuery, Ruby/Rails, Git, CSS, and HTML, with a focus on collaboration and tools/tech relevant to the industry.
          </p>
          <p>
            While at DBC I collaborated with a group of developers to create Awesome Bus, a web app and travel tool that integrated with the San Francisco Muni and Google Maps APIs. Awesome Bus provided users with granular travel information, taking into account reported delays and travel from the user’s current location via walking or cycling to the public transit stop of choice.
          </p>
        </div>
      </div>
      <div class="section-item">
        <hr>
        <div class="item-header">
          <p class="main">
            Radford University, Radford, VA, 2002 - 2005
          </p>
          <p class="secondary">
            Bachelor’s of Fine Arts in photography
          </p>
        </div>
        <hr>
        <div class="item-content">
          <p>
            I studied an array of fine art techniques, specializing in darkroom photography and exploring film photography and experimental photo manipulation processes. I also studied sculpture in depth and functionally focused on sculpting with wood.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
