<div class="page-content">
  <p id="projects">
    <p>
      <a rel="noopener" target="_blank" href="http://morning-island-3194.herokuapp.com/">Resourceful</a> was born from conversations with friends who work in varying mental health fields.
    <p/>
    <p>
      The idea originated as an attempt to provide a shared and searchable database of resources (mental health professionals, addiction recovery services, food banks, etc.).
    <p/>
    <p>
      Agencies setup their profiles with contact information, a description of the services they offer, and tags to allow easier searching.
    <p/>
    <p>
      Mental health professionals setup their profiles and manage a 'contact book' of agencies they refer to often.
    <p/>
    <p>
      Patients setup their profiles and can see the list of agencies their mental health provider recommends in addition to being able to search other agencies in the database.
    <p/>
  </p>
</div>
