/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Verdana', sans-serif;
  background-color: #E6E6E6;
  color: #2c3e50;
  margin: 0;
}

a.footer_link {
  color: #CDCDCD;
}

a.footer_link :hover {
  color: #E6E6E6;
}

#container {
  position: relative;
}

#content {
  height: 500px;
  margin: 20px;
}

#footer {
  color: #E6E6E6;
  background-color: #4A4E4D;
  border-top: 1px solid #e7e7e7;
  padding: 15px 0;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -20px;
}

.footer-text {
  padding: 15px;
}
