#nav-bar {
  color: #E6E6E6;
  background-color: #4A4E4D;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  padding: 25px 0;
  width: 100%;
}

#nav-bar .nav-menu-button {
  font-size: 14px;
  color: #E6E6E6;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

#nav-bar .nav-menu-button.home {
  font-size: 18px;
  padding: 20px 16px 20px 16px;
  margin-left: 5px;
  background-color: #39796c;
  /* teal: 39796c, orange: f39c12, grey: 333333 */
  border-radius: 32px;
}

#nav-bar .nav-menu-button:hover {
  color: #CDCDCD;
}

.nav-menu {
  position: absolute;
  left: 30px;
  z-index: 999;
  width: 300px;
  margin: 0;
  padding: 10px;
  list-style: none;
  background: #fff;
  color: #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999
}

.nav-menu li {
  padding: 10px;
  border-bottom: solid 1px #ccc;
}

.nav-menu li:hover {
  background: #ecf0f1;
}

.nav-menu li:last-child {
  border: none
}
